body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.photo-ul {
  height: 500px;
  overflow:scroll;
}

.photo-list {
  padding-top:20px;
}

#map {
  height: 500px;
}
